include LICENSE
include notebooks/*
include UserManual/*
include FijiMacros/*
include cellacdc/resources/*
include cellacdc/bioformats/jars/*
include cellacdc/bioformats/tests/*
include cellacdc/metrics/*

exclude cellacdc/deprecated.py
exclude cellacdc/lastCommit.txt
exclude cellacdc/test.py
exclude cellacdc/test1.py
exclude cellacdc/test_qt_app.py
exclude cellacdc/resources/figures
exclude cellacdc/cellacdc.egg-info
exclude cellacdc/temp/last_entries_metadata.csv
exclude cellacdc/temp/recentPaths.csv
exclude cellacdc/temp/segm_last_sel.csv
exclude cellacdc/temp/settings.csv
exclude cellacdc/utils/deprecated

prune cellacdc/docs/source/images
prune .github

exclude cellacdc/models/YeastMate/detectron2
exclude cellacdc/models/YeastMate/pycocotools

exclude requirements.txt
exclude not_installed_requirements.txt
exclude requirements_new.txt
