pyqtgraph
PyQt5>=5.15.4
pandas
tables
opencv-python-headless
matplotlib
tqdm
natsort
scipy
scikit-image==0.18.1
pyglet
seaborn
numba
requests
tensorflow<2.6
torch>1.6
scikit-learn
boto3
jupyterlab
fvcore
cloudpickle
omegaconf
torchvision
