pyqtgraph==0.12.1
PyQt5==5.15.4
numpy==1.19.5
pandas==1.2.4
tables==3.6.1
opencv-python-headless==4.5.2.54
matplotlib==3.1.2
tqdm==4.59.0
natsort==7.1.1
scipy>=1.6.2
scikit-image==0.18.1
pyglet==1.5.16
seaborn==0.11.1
numba==0.53.1
requests==2.25.1
tensorflow>=2.3.0
torch==1.9.0
munkres==1.1.4
scikit-learn==0.24.2
jupyterlab